[Desktop Entry]
Type=Application
Name=Design For AIR (@@NAMESPACE@@)
GenericName=Design For AIR
Comment=Design For AIR packaged build (@@NAMESPACE@@)
Exec=env OD_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=Design For AIR
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/nd;
